In [53]:
import pandas as pd

# Paths to the Excel files
file_paths = {
    "2019": 'excel files/2019.xlsx',
    "2020": 'excel files/2020.xlsx',
    "2021": 'excel files/2021.xlsx',
    "2022": 'excel files/2022.xlsx'
}

# Loading data for each year
data_2019 = pd.read_excel(file_paths["2019"])
data_2020 = pd.read_excel(file_paths["2020"])
data_2021 = pd.read_excel(file_paths["2021"])
data_2022 = pd.read_excel(file_paths["2022"])

In [54]:
# Add 'Year' column to each DataFrame
data_2019['Year'] = 2019
data_2020['Year'] = 2020
data_2021['Year'] = 2021
data_2022['Year'] = 2022

In [55]:
# Concatenate all DataFrames
all_data = pd.concat([data_2019, data_2020, data_2021, data_2022], ignore_index=True)

all_data

,Item,All\nconsumer\nunits,Birth year\nof 1997\nor later,Birth year\nfrom 1981\nto 1996,Birth year\nfrom 1965\nto 1980,Birth year\nfrom 1946\nto 1964,Birth year\nof 1945\nor earlier,Year
0,Number of consumer units (in thousands),132242.0,3698.0,33033.0,35498.0,43148.0,16865.0,2019
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
2,Consumer unit characteristics:,NaN,NaN,NaN,NaN,NaN,NaN,2019
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
4,Income before taxes,NaN,NaN,NaN,NaN,NaN,NaN,2019
...,...,...,...,...,...,...,...,...
2835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
2836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
2837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
2838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
2839,"Source: Consumer Expenditure Surveys, U.S. Bur...",NaN,NaN,NaN,NaN,NaN,NaN,2022

In [56]:
# Assuming 'all_data' is your DataFrame and 'item' is the column you're checking for NaN values
cleaned_data = all_data.dropna(subset=['Item'])
cleaned_data.head(10)

,Item,All\nconsumer\nunits,Birth year\nof 1997\nor later,Birth year\nfrom 1981\nto 1996,Birth year\nfrom 1965\nto 1980,Birth year\nfrom 1946\nto 1964,Birth year\nof 1945\nor earlier,Year
0,Number of consumer units (in thousands),132242.00,3698.00,33033.00,35498.00,43148.00,16865.00,2019
2,Consumer unit characteristics:,NaN,NaN,NaN,NaN,NaN,NaN,2019
4,Income before taxes,NaN,NaN,NaN,NaN,NaN,NaN,2019
5,Mean,82852.00,27779.00,79514.00,106173.00,86251.00,43680.00,2019
6,SE,1973.48,2597.40,1771.38,1737.66,4904.74,2188.26,2019
7,CV(%),2.38,9.35,2.23,1.64,5.69,5.01,2019
8,Income after taxes,NaN,NaN,NaN,NaN,NaN,NaN,2019
9,Mean,71487.00,26565.00,70565.00,90964.00,72201.00,40323.00,2019
10,SE,1312.27,2364.52,1449.17,1339.89,3109.51,1620.96,2019
11,CV(%),1.84,8.90,2.05,1.47,4.31,4.02,2019

In [57]:
all_data_columns_renamed = cleaned_data.rename(columns={
    'All\nconsumer\nunits': 'All Consumer Units',
    'Birth year\nof 1997\nor later': 'Gen Z',
    'Birth year\nfrom 1981\nto 1996': 'Millennials',
    'Birth year\nfrom 1965\nto 1980': 'Gen X',
    'Birth year\nfrom 1946\nto 1964': 'Baby Boomers',
    'Birth year\nof 1945\nor earlier': 'Silent Generation'
    })

all_data_columns_renamed

,Item,All Consumer Units,Gen Z,Millennials,Gen X,Baby Boomers,Silent Generation,Year
0,Number of consumer units (in thousands),132242.00,3698.00,33033.00,35498.00,43148.00,16865.00,2019
2,Consumer unit characteristics:,NaN,NaN,NaN,NaN,NaN,NaN,2019
4,Income before taxes,NaN,NaN,NaN,NaN,NaN,NaN,2019
5,Mean,82852.00,27779.00,79514.00,106173.00,86251.00,43680.00,2019
6,SE,1973.48,2597.40,1771.38,1737.66,4904.74,2188.26,2019
...,...,...,...,...,...,...,...,...
2827,Estimated monthly rental value of owned home,NaN,NaN,NaN,NaN,NaN,NaN,2022
2828,Mean,1401.00,355.00,1098.00,1644.00,1585.00,1526.00,2022
2829,SE,16.87,48.82,28.08,29.18,29.65,47.52,2022
2830,RSE,1.20,13.75,2.56,1.78,1.87,3.11,2022
2839,"Source: Consumer Expenditure Surveys, U.S. Bur...",NaN,NaN,NaN,NaN,NaN,NaN,2022

In [58]:
# Ensure 'Year' is the first column
column_order = ['Year'] + [col for col in all_data_columns_renamed.columns if col != 'Year']
all_data_reordered = all_data_columns_renamed[column_order]

# Display the reordered and reindexed DataFrame
all_data_reordered.head()

,Year,Item,All Consumer Units,Gen Z,Millennials,Gen X,Baby Boomers,Silent Generation
0,2019,Number of consumer units (in thousands),132242.00,3698.0,33033.00,35498.00,43148.00,16865.00
2,2019,Consumer unit characteristics:,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,Income before taxes,NaN,NaN,NaN,NaN,NaN,NaN
5,2019,Mean,82852.00,27779.0,79514.00,106173.00,86251.00,43680.00
6,2019,SE,1973.48,2597.4,1771.38,1737.66,4904.74,2188.26

In [59]:
# Define the subset of columns to check for null values (all columns except 'Year')
subset_columns = [col for col in all_data_reordered.columns if col != 'Year']

# Drop rows where all specified columns are null
all_data_drop_blanks = all_data_reordered.dropna(how='all', subset=subset_columns)
# Resetting the index
all_data_drop_blanks.reset_index(drop=True, inplace=True)

# Display the cleaned data
all_data_drop_blanks.head(25)

,Year,Item,All Consumer Units,Gen Z,Millennials,Gen X,Baby Boomers,Silent Generation
0,2019,Number of consumer units (in thousands),132242.00,3698.00,33033.00,35498.00,43148.00,16865.00
1,2019,Consumer unit characteristics:,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,Income before taxes,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,Mean,82852.00,27779.00,79514.00,106173.00,86251.00,43680.00
4,2019,SE,1973.48,2597.40,1771.38,1737.66,4904.74,2188.26
5,2019,CV(%),2.38,9.35,2.23,1.64,5.69,5.01
6,2019,Income after taxes,NaN,NaN,NaN,NaN,NaN,NaN
7,2019,Mean,71487.00,26565.00,70565.00,90964.00,72201.00,40323.00
8,2019,SE,1312.27,2364.52,1449.17,1339.89,3109.51,1620.96
9,2019,CV(%),1.84,8.90,2.05,1.47,4.31,4.02
10,2019,Age of reference person,51.60,20.20,30.70,46.20,63.10,80.80
11,2019,Average number in consumer unit:,NaN,NaN,NaN,NaN,NaN,NaN
12,2019,People,2.50,1.80,2.80,3.10,2.10,1.60
13,2019,Children under 18,0.60,0.30,1.00,1.00,0.20,0.00
14,2019,Adults 65 and older,0.40,0.00,0.00,0.00,0.60,1.40
15,2019,Earners,1.30,1.20,1.60,1.80,1.10,0.30
16,2019,Vehicles,1.90,1.00,1.70,2.20,2.10,1.50
17,2019,Percent distribution:,NaN,NaN,NaN,NaN,NaN,NaN
18,2019,Reference person:,NaN,NaN,NaN,NaN,NaN,NaN
19,2019,Men,48.00,45.00,52.00,48.00,49.00,41.00
20,2019,Women,52.00,55.00,48.00,52.00,51.00,59.00
21,2019,Housing tenure:,NaN,NaN,NaN,NaN,NaN,NaN
22,2019,Homeowner,64.00,12.00,43.00,66.00,76.00,81.00
23,2019,With mortgage,37.00,5.00,35.00,52.00,38.00,17.00
24,2019,Without mortgage,27.00,7.00,8.00,14.00,38.00,64.00

In [60]:
import numpy as np

# Initialize columns for 'Main Category' and 'Subcategory' in 'all_data_drop_blanks'
all_data_drop_blanks['Main Category'] = np.nan
all_data_drop_blanks['Subcategory'] = np.nan

main_category = None
current_subcategory = None
for i in range(len(all_data_drop_blanks)):
    if pd.isnull(all_data_drop_blanks.loc[i, 'All Consumer Units']):
        if main_category is None or (i+1 < len(all_data_drop_blanks) and pd.isnull(all_data_drop_blanks.loc[i+1, 'All Consumer Units'])):
            # Current row is identified as a main category
            main_category = all_data_drop_blanks.loc[i, 'Item']
            current_subcategory = None  # Reset subcategory for a new main category
        else:
            # Current row is identified as a subcategory
            current_subcategory = all_data_drop_blanks.loc[i, 'Item']
    all_data_drop_blanks.loc[i, 'Main Category'] = main_category
    if current_subcategory is not None:
        all_data_drop_blanks.loc[i, 'Subcategory'] = current_subcategory
    else:
        all_data_drop_blanks.loc[i, 'Subcategory'] = all_data_drop_blanks.loc[i, 'Item']  # Use item as subcategory if no subcategory defined

In [61]:
# For rows not considered subcategories, fill 'Subcategory' with 'Item'
all_data_drop_blanks['Subcategory'].fillna(all_data_drop_blanks['Item'], inplace=True)

In [62]:
# Optionally, to clean up, fill remaining NaNs in 'Main Category'
all_data_drop_blanks['Main Category'].fillna(method='ffill', inplace=True)

In [63]:
# Display the DataFrame to verify the changes
all_data_drop_blanks[['Year', 'Item', 'All Consumer Units', 'Main Category', 'Subcategory']]
all_data_drop_blanks.head(25)

,Year,Item,All Consumer Units,Gen Z,Millennials,Gen X,Baby Boomers,Silent Generation,Main Category,Subcategory
0,2019,Number of consumer units (in thousands),132242.00,3698.00,33033.00,35498.00,43148.00,16865.00,NaN,Number of consumer units (in thousands)
1,2019,Consumer unit characteristics:,NaN,NaN,NaN,NaN,NaN,NaN,Consumer unit characteristics:,Consumer unit characteristics:
2,2019,Income before taxes,NaN,NaN,NaN,NaN,NaN,NaN,Consumer unit characteristics:,Income before taxes
3,2019,Mean,82852.00,27779.00,79514.00,106173.00,86251.00,43680.00,Consumer unit characteristics:,Income before taxes
4,2019,SE,1973.48,2597.40,1771.38,1737.66,4904.74,2188.26,Consumer unit characteristics:,Income before taxes
5,2019,CV(%),2.38,9.35,2.23,1.64,5.69,5.01,Consumer unit characteristics:,Income before taxes
6,2019,Income after taxes,NaN,NaN,NaN,NaN,NaN,NaN,Consumer unit characteristics:,Income after taxes
7,2019,Mean,71487.00,26565.00,70565.00,90964.00,72201.00,40323.00,Consumer unit characteristics:,Income after taxes
8,2019,SE,1312.27,2364.52,1449.17,1339.89,3109.51,1620.96,Consumer unit characteristics:,Income after taxes
9,2019,CV(%),1.84,8.90,2.05,1.47,4.31,4.02,Consumer unit characteristics:,Income after taxes
10,2019,Age of reference person,51.60,20.20,30.70,46.20,63.10,80.80,Consumer unit characteristics:,Income after taxes
11,2019,Average number in consumer unit:,NaN,NaN,NaN,NaN,NaN,NaN,Consumer unit characteristics:,Average number in consumer unit:
12,2019,People,2.50,1.80,2.80,3.10,2.10,1.60,Consumer unit characteristics:,Average number in consumer unit:
13,2019,Children under 18,0.60,0.30,1.00,1.00,0.20,0.00,Consumer unit characteristics:,Average number in consumer unit:
14,2019,Adults 65 and older,0.40,0.00,0.00,0.00,0.60,1.40,Consumer unit characteristics:,Average number in consumer unit:
15,2019,Earners,1.30,1.20,1.60,1.80,1.10,0.30,Consumer unit characteristics:,Average number in consumer unit:
16,2019,Vehicles,1.90,1.00,1.70,2.20,2.10,1.50,Consumer unit characteristics:,Average number in consumer unit:
17,2019,Percent distribution:,NaN,NaN,NaN,NaN,NaN,NaN,Percent distribution:,Percent distribution:
18,2019,Reference person:,NaN,NaN,NaN,NaN,NaN,NaN,Percent distribution:,Reference person:
19,2019,Men,48.00,45.00,52.00,48.00,49.00,41.00,Percent distribution:,Reference person:
20,2019,Women,52.00,55.00,48.00,52.00,51.00,59.00,Percent distribution:,Reference person:
21,2019,Housing tenure:,NaN,NaN,NaN,NaN,NaN,NaN,Percent distribution:,Housing tenure:
22,2019,Homeowner,64.00,12.00,43.00,66.00,76.00,81.00,Percent distribution:,Housing tenure:
23,2019,With mortgage,37.00,5.00,35.00,52.00,38.00,17.00,Percent distribution:,Housing tenure:
24,2019,Without mortgage,27.00,7.00,8.00,14.00,38.00,64.00,Percent distribution:,Housing tenure:

In [66]:
new_order = ['Year', 'Main Category', 'Subcategory', 'Item', 'All Consumer Units', 
             'Gen Z', 'Millennials', 'Gen X', 'Baby Boomers', 'Silent Generation']

# Reorder the DataFrame
all_data_drop_blanks = all_data_drop_blanks[new_order]

all_data_drop_blanks.head(30)

,Year,Main Category,Subcategory,Item,All Consumer Units,Gen Z,Millennials,Gen X,Baby Boomers,Silent Generation
0,2019,NaN,Number of consumer units (in thousands),Number of consumer units (in thousands),132242.00,3698.00,33033.00,35498.00,43148.00,16865.00
1,2019,Consumer unit characteristics:,Consumer unit characteristics:,Consumer unit characteristics:,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,Consumer unit characteristics:,Income before taxes,Income before taxes,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,Consumer unit characteristics:,Income before taxes,Mean,82852.00,27779.00,79514.00,106173.00,86251.00,43680.00
4,2019,Consumer unit characteristics:,Income before taxes,SE,1973.48,2597.40,1771.38,1737.66,4904.74,2188.26
5,2019,Consumer unit characteristics:,Income before taxes,CV(%),2.38,9.35,2.23,1.64,5.69,5.01
6,2019,Consumer unit characteristics:,Income after taxes,Income after taxes,NaN,NaN,NaN,NaN,NaN,NaN
7,2019,Consumer unit characteristics:,Income after taxes,Mean,71487.00,26565.00,70565.00,90964.00,72201.00,40323.00
8,2019,Consumer unit characteristics:,Income after taxes,SE,1312.27,2364.52,1449.17,1339.89,3109.51,1620.96
9,2019,Consumer unit characteristics:,Income after taxes,CV(%),1.84,8.90,2.05,1.47,4.31,4.02
10,2019,Consumer unit characteristics:,Income after taxes,Age of reference person,51.60,20.20,30.70,46.20,63.10,80.80
11,2019,Consumer unit characteristics:,Average number in consumer unit:,Average number in consumer unit:,NaN,NaN,NaN,NaN,NaN,NaN
12,2019,Consumer unit characteristics:,Average number in consumer unit:,People,2.50,1.80,2.80,3.10,2.10,1.60
13,2019,Consumer unit characteristics:,Average number in consumer unit:,Children under 18,0.60,0.30,1.00,1.00,0.20,0.00
14,2019,Consumer unit characteristics:,Average number in consumer unit:,Adults 65 and older,0.40,0.00,0.00,0.00,0.60,1.40
15,2019,Consumer unit characteristics:,Average number in consumer unit:,Earners,1.30,1.20,1.60,1.80,1.10,0.30
16,2019,Consumer unit characteristics:,Average number in consumer unit:,Vehicles,1.90,1.00,1.70,2.20,2.10,1.50
17,2019,Percent distribution:,Percent distribution:,Percent distribution:,NaN,NaN,NaN,NaN,NaN,NaN
18,2019,Percent distribution:,Reference person:,Reference person:,NaN,NaN,NaN,NaN,NaN,NaN
19,2019,Percent distribution:,Reference person:,Men,48.00,45.00,52.00,48.00,49.00,41.00
20,2019,Percent distribution:,Reference person:,Women,52.00,55.00,48.00,52.00,51.00,59.00
21,2019,Percent distribution:,Housing tenure:,Housing tenure:,NaN,NaN,NaN,NaN,NaN,NaN
22,2019,Percent distribution:,Housing tenure:,Homeowner,64.00,12.00,43.00,66.00,76.00,81.00
23,2019,Percent distribution:,Housing tenure:,With mortgage,37.00,5.00,35.00,52.00,38.00,17.00
24,2019,Percent distribution:,Housing tenure:,Without mortgage,27.00,7.00,8.00,14.00,38.00,64.00
25,2019,Percent distribution:,Housing tenure:,Renter,36.00,88.00,57.00,34.00,24.00,19.00
26,2019,Percent distribution:,Race of reference person:,Race of reference person:,NaN,NaN,NaN,NaN,NaN,NaN
27,2019,Percent distribution:,Race of reference person:,Black or African-American,13.00,17.00,16.00,14.00,12.00,8.00
28,2019,Percent distribution:,Race of reference person:,"White, Asian, and all other races",87.00,83.00,84.00,86.00,88.00,92.00
29,2019,Percent distribution:,Hispanic or Latino origin of reference person:,Hispanic or Latino origin of reference person:,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
# Assuming 'all_data' is your DataFrame and 'item' is the column you're checking for NaN values
Final_Data = all_data_drop_blanks.dropna(subset=['All Consumer Units'])
Final_Data.head(30)

,Year,Main Category,Subcategory,Item,All Consumer Units,Gen Z,Millennials,Gen X,Baby Boomers,Silent Generation
0,2019,NaN,Number of consumer units (in thousands),Number of consumer units (in thousands),132242.00,3698.00,33033.00,35498.00,43148.00,16865.00
3,2019,Consumer unit characteristics:,Income before taxes,Mean,82852.00,27779.00,79514.00,106173.00,86251.00,43680.00
4,2019,Consumer unit characteristics:,Income before taxes,SE,1973.48,2597.40,1771.38,1737.66,4904.74,2188.26
5,2019,Consumer unit characteristics:,Income before taxes,CV(%),2.38,9.35,2.23,1.64,5.69,5.01
7,2019,Consumer unit characteristics:,Income after taxes,Mean,71487.00,26565.00,70565.00,90964.00,72201.00,40323.00
8,2019,Consumer unit characteristics:,Income after taxes,SE,1312.27,2364.52,1449.17,1339.89,3109.51,1620.96
9,2019,Consumer unit characteristics:,Income after taxes,CV(%),1.84,8.90,2.05,1.47,4.31,4.02
10,2019,Consumer unit characteristics:,Income after taxes,Age of reference person,51.60,20.20,30.70,46.20,63.10,80.80
12,2019,Consumer unit characteristics:,Average number in consumer unit:,People,2.50,1.80,2.80,3.10,2.10,1.60
13,2019,Consumer unit characteristics:,Average number in consumer unit:,Children under 18,0.60,0.30,1.00,1.00,0.20,0.00
14,2019,Consumer unit characteristics:,Average number in consumer unit:,Adults 65 and older,0.40,0.00,0.00,0.00,0.60,1.40
15,2019,Consumer unit characteristics:,Average number in consumer unit:,Earners,1.30,1.20,1.60,1.80,1.10,0.30
16,2019,Consumer unit characteristics:,Average number in consumer unit:,Vehicles,1.90,1.00,1.70,2.20,2.10,1.50
19,2019,Percent distribution:,Reference person:,Men,48.00,45.00,52.00,48.00,49.00,41.00
20,2019,Percent distribution:,Reference person:,Women,52.00,55.00,48.00,52.00,51.00,59.00
22,2019,Percent distribution:,Housing tenure:,Homeowner,64.00,12.00,43.00,66.00,76.00,81.00
23,2019,Percent distribution:,Housing tenure:,With mortgage,37.00,5.00,35.00,52.00,38.00,17.00
24,2019,Percent distribution:,Housing tenure:,Without mortgage,27.00,7.00,8.00,14.00,38.00,64.00
25,2019,Percent distribution:,Housing tenure:,Renter,36.00,88.00,57.00,34.00,24.00,19.00
27,2019,Percent distribution:,Race of reference person:,Black or African-American,13.00,17.00,16.00,14.00,12.00,8.00
28,2019,Percent distribution:,Race of reference person:,"White, Asian, and all other races",87.00,83.00,84.00,86.00,88.00,92.00
30,2019,Percent distribution:,Hispanic or Latino origin of reference person:,Hispanic or Latino,14.00,17.00,18.00,17.00,10.00,5.00
31,2019,Percent distribution:,Hispanic or Latino origin of reference person:,Not Hispanic or Latino,86.00,83.00,82.00,83.00,90.00,95.00
33,2019,Percent distribution:,Education of reference person:,Elementary (1-8),3.00,1.00,2.00,3.00,3.00,4.00
34,2019,Percent distribution:,Education of reference person:,High school (9-12),30.00,36.00,25.00,27.00,30.00,42.00
35,2019,Percent distribution:,Education of reference person:,College,67.00,64.00,73.00,70.00,67.00,54.00
36,2019,Percent distribution:,Education of reference person:,Never attended and other,0.00,NaN,0.00,0.00,0.00,0.00
37,2019,Percent distribution:,Education of reference person:,At least one vehicle owned or leased,89.00,60.00,90.00,92.00,91.00,84.00
39,2019,Percent distribution:,Average annual expenditures,Mean,63036.00,34092.00,59866.00,76788.00,63956.00,44412.00
40,2019,Percent distribution:,Average annual expenditures,SE,578.05,2974.82,928.71,1162.92,984.80,1196.13